* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.hover-success:hover {
  background-color: green;
}

.hover-danger:hover {
  background-color: red;
}

.hover-warning:hover {
  background-color: goldenrod;
}